<!DOCTYPE html>
<html>

<head>
    <title>Ugly search</title>
</head>

<body>
    <form>
        <label for="search"></label>
        <input type="text" id="search" name="search">
        <button>Submit</button>
    </form>
    <table>
        <th>a</th>
        <th>b</th>
        <th>c</th>
    </table>
</body>

</html>